[functions.server]
  node_bundler = "nft"
  included_files = ["app/routes/posts/**", "node_modules/@kentcdodds/md-temp/dist/base16.json", "node_modules/shiki/languages/**"]
[build]
  functions = "netlify/functions"
  publish = "public"

[dev]
  functions = "netlify/functions"
  publish = "public"
  port = 3000

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["esbuild", "vscode-oniguruma", "keyv", "@kentcdodds/md-temp"]
  included_files = ["app/content/**", "node_modules/@kentcdodds/md-temp/dist/base16.json", "node_modules/shiki/languages/**"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[[headers]]
  for = "/build/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, s-maxage=31536000"
