/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-blueGray-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #171921;
  --color-green-100: #e7f9ed;
  --color-green-500: #30c85e;
  --color-green-600: #68d94a;
  --color-red-500: #ff4545;
  --color-yellow-500: #ffd644;
}

.light {
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-100);
  --bg-alt: var(--color-gray-200);
  --border-secondary: var(--color-gray-200);
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-500);
}

.dark {
  --bg-primary: var(--color-gray-900);
  --bg-secondary: var(--color-gray-800);
  --bg-alt: var(--color-gray-700);
  --border-secondary: var(--color-gray-600);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-blueGray-500);
  --color-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 7%);
  --color-links: hsl(213, 100%, 73%);
  --color-links-hover: hsl(213, 100%, 80%);
  --color-border: hsl(0, 0%, 25%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]),
input:where([type="email"]) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

textarea {
   display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(10ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-home-link {
  width: 106px;
  height: 30px;
  color: var(--color-foreground);
}

.remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: 0.5rem;
}

.remix__page > aside > :first-child {
  margin-top: 0;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}
