/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-blueGray-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #171921;
  --color-green-100: #e7f9ed;
  --color-green-500: #30c85e;
  --color-green-600: #68d94a;
  --color-red-500: #ff4545;
  --color-yellow-500: #ffd644;
}

.light {
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-100);
  --bg-alt: var(--color-gray-200);
  --border-secondary: var(--color-gray-200);
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-500);
  --color-border: var(--color-gray-200);
  --color-links: hsl(213, 100%, 50%);
  --color-links-hover: hsl(213, 100%, 60%);
}

.dark {
  --bg-primary: var(--color-gray-900);
  --bg-secondary: var(--color-gray-800);
  --bg-alt: var(--color-gray-700);
  --border-secondary: var(--color-gray-600);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-blueGray-500);
  --color-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 7%);
  --color-links: hsl(213, 100%, 73%);
  --color-links-hover: hsl(213, 100%, 80%);
  --color-border: hsl(0, 0%, 25%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]),
input:where([type="email"]) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

textarea {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(10ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-home-link {
  width: 106px;
  height: 30px;
  color: var(--color-foreground);
}

.remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dock-container {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.dock {
  position: relative;
  display: inline-block;
  -webkit-perspective: 400;
  -moz-perspective: 400;
  pointer-events: all;
}
.dock .base {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  z-index: -10;
  background-color: #888;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#333),
    to(#ccc)
  );
  background-image: -webkit-linear-gradient(top, #333, #999);
  background-image: -moz-linear-gradient(
    top,
    #333,
    #999
  ); /* Gradient works on FF 3.6+ */
  opacity: 0.5;
  border-bottom: 2px #aaa solid;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(55deg); /* 3d - works on webkit only */
  -moz-transform-origin: 50% 100%;
  -moz-transform: rotateX(55deg); /* not supported on current 3.7 */
  -o-transform-origin: 50% 100%;
  -o-transform: rotateX(55deg); /* not supported on current 10.6 */
}
.dock ul {
  font-size: 14px;
  padding: 0 30px;
  margin: 0;
}
.dock li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
.dock li span {
  display: none;
  position: absolute;
  bottom: 140px;
  left: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 4px 0;
  border-radius: 12px; /* webkit nightly */
  -webkit-border-radius: 12px; /* for safari */
  -moz-border-radius: 12px;
}

.dock li:hover span {
  display: block;
}
.dock li a svg {
  min-width: 64px;
  height: 64px;
  margin-bottom: 10px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  -webkit-box-reflect: below 2px -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.3));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
  -moz-transition: all 0.4s;
  -moz-transform-origin: 50% 100%;
  -o-transition: all 0.3s;
  -o-transform-origin: 50% 100%;
  margin-right: 0.1em;
  margin-left: 0.1em;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--bg-alt);
  padding: 0.1em;
  pointer-events: stroke;
}
@media (min-width: 768px) {
  .dock li:hover a svg {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin: 0 0.75em 10px;
  }
}

@media (min-width: 768px) {
  /* one element after and element before (with JS)*/
  .dock li:hover + li a svg,
  .dock li.prev svg {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin: 0 .5em 10px;
  }
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

/************ Dark Mode Toggle Styles ************/

:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #108dad;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #808bbc;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
}

@keyframes reverse {
  0% {
    left: 47px;
    width: 20px;
  }
  60% {
    left: 3px;
    width: 70px;
  }
  100% {
    left: 3px;
  }
}

@keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 3px;
    width: 70px;
  }
  100% {
    left: 47px;
    width: 20px;
  }
}

/* If any child of this label gets focus, show these styles */
.toggle--checkbox {
  opacity: 0;
  position: absolute;
  left: -999vw;
}

.toggle--checkbox:focus + .toggle--label {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px; /* transition: outline 100ms ease-in; */
}

/* background */
.toggle--label {
  width: 75px;
  height: 30px;
  background: var(--indigo-color);
  border-radius: 100px;
  border: 3px solid var(--indigo-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  color: var(--indigo-color);
  margin-right: auto;
  margin-left: auto;
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--blue-color);
  color: var(--blue-color);
  border-color: var(--blue-border);
}

/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 360ms ease-in;
  background: var(--yellow-background);
  border-color: var(--yellow-border);
}

.toggle--label:before {
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--gray-border);
  top: 1px;
  left: 3px;
  position: absolute;
  border-radius: 40px;
  background: white;
}

/* moon dimples */
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -29px -1px 0 -2px,
    var(--gray-dots) -26px -6px 0 -1px;
  left: 79px;
  top: 10px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  opacity: 1;
}

.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 50ms;
  opacity: 0;
}

/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  width: 5px;
  left: 40px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  top: -4px;
  left: -5px;
  width: 20px;
  height: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  top: 3px;
  width: 20px;
  height: 5px;
  left: -10px;
}

/* stars */
.toggle--label-background {
  border-radius: 5px;
  position: relative;
  background: white;
  left: 32px;
  width: 6px;
  transition: all 150ms ease-in;
  top: 10px;
  height: 4px;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: -8px;
  border-radius: 5px;
  background: white;
  left: -20px;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: -20px;
  top: 8px;
  border-radius: 5px;
  background: white;
  transition: all 150ms ease-in;
}

/************ Switch Styles ************/

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin-top: auto;
  margin-bottom: auto;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}
